<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders List</title>
</head>
<body>
<h1>Orders List</h1>

<table border="1" >
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Cash on Delivery</th>
        <th>Delivery Charge</th>
        <th>Order Status</th>
        <th>Message</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td ><p>1</p></td>
        <td><p>Yes</p></td>
        <td > <p>0</p></td>
        <td > <p>confirm</p></td>
        <td ><p>order successfully ordered<p> </td>
    </tr>

    </tbody></table>
    <br><form th:action="activition" th:object="${orderDetail1}" >
    <button href="@{/activition}" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; font-size: 16px;" >
        activation Business
    </button>


</form>




</body>
</html>
